In [4]:
pip install pandas

Collecting pandas
  Downloading pandas-2.0.3-cp311-cp311-win_amd64.whl (10.6 MB)
                                              0.0/10.6 MB ? eta -:--:--
                                              0.1/10.6 MB 2.6 MB/s eta 0:00:04
     -                                        0.4/10.6 MB 3.8 MB/s eta 0:00:03
     -                                        0.5/10.6 MB 4.6 MB/s eta 0:00:03
     ---                                      0.9/10.6 MB 4.5 MB/s eta 0:00:03
     ----                                     1.2/10.6 MB 5.2 MB/s eta 0:00:02
     -----                                    1.4/10.6 MB 5.2 MB/s eta 0:00:02
     ------                                   1.7/10.6 MB 4.8 MB/s eta 0:00:02
     -------                                  2.0/10.6 MB 5.2 MB/s eta 0:00:02
     --------                                 2.3/10.6 MB 5.5 MB/s eta 0:00:02
     ----------                               2.7/10.6 MB 5.9 MB/s eta 0:00:02
     -----------                              3.2/10.6 MB 6.3 MB/s eta 0:00:02
     -------------                            3.5/10.6 MB 6.3 MB/s eta 0:00:02
     --------------                           3.8/10.6 MB 6.6 MB/s eta 0:00:02
     ---------------                          4.1/10.6 MB 6.4 MB/s eta 0:00:02
     ---------------                          4.2/10.6 MB 6.2 MB/s eta 0:00:02
     ----------------                         4.3/10.6 MB 6.2 MB/s eta 0:00:02
     -----------------                        4.6/10.6 MB 6.1 MB/s eta 0:00:01
     -------------------                      5.0/10.6 MB 6.2 MB/s eta 0:00:01
     --------------------                     5.4/10.6 MB 6.4 MB/s eta 0:00:01
     ---------------------                    5.7/10.6 MB 6.5 MB/s eta 0:00:01
     ----------------------                   5.9/10.6 MB 6.3 MB/s eta 0:00:01
     ------------------------                 6.4/10.6 MB 6.5 MB/s eta 0:00:01
     -------------------------                6.8/10.6 MB 6.6 MB/s eta 0:00:01
     ---------------------------              7.4/10.6 MB 6.8 MB/s eta 0:00:01
     ----------------------------             7.7/10.6 MB 6.7 MB/s eta 0:00:01
     -----------------------------            7.8/10.6 MB 6.7 MB/s eta 0:00:01
     -----------------------------            7.8/10.6 MB 6.7 MB/s eta 0:00:01
     --------------------------------         8.5/10.6 MB 6.5 MB/s eta 0:00:01
     ----------------------------------       9.1/10.6 MB 6.7 MB/s eta 0:00:01
     -----------------------------------      9.5/10.6 MB 6.9 MB/s eta 0:00:01
     ------------------------------------     9.8/10.6 MB 7.0 MB/s eta 0:00:01
     --------------------------------------   10.1/10.6 MB 6.9 MB/s eta 0:00:01
     ---------------------------------------  10.6/10.6 MB 7.2 MB/s eta 0:00:01
     ---------------------------------------  10.6/10.6 MB 7.2 MB/s eta 0:00:01
     ---------------------------------------- 10.6/10.6 MB 6.6 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
                                              0.0/502.3 kB ? eta -:--:--
     ------------------------              337.9/502.3 kB 10.6 MB/s eta 0:00:01
     -------------------------------------  491.5/502.3 kB 6.2 MB/s eta 0:00:01
     -------------------------------------- 502.3/502.3 kB 5.2 MB/s eta 0:00:00
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
                                              0.0/341.8 kB ? eta -:--:--
     ------------------------------------  337.9/341.8 kB 10.6 MB/s eta 0:00:01
     -------------------------------------- 341.8/341.8 kB 7.2 MB/s eta 0:00:00
Collecting numpy>=1.21.0 (from pandas)
  Downloading numpy-1.25.2-cp311-cp311-win_amd64.whl (15.5 MB)
                                              0.0/15.5 MB ? eta -:--:--
     -                                        0.6/15.5 MB 19.5 MB/s eta 0:00:01
     --                                       0.8/15.5 MB 13.4 MB/s eta 0:00:02
     --                                       0.9/15.5 MB 9.2 MB/s eta 0:00:02
     ---                                      1.4/15.5 MB 7.3 MB/s eta 0:00:02
     ----                                     1.6/15.5 MB 6.7 MB/s eta 0:00:03
     -----                                    2.2/15.5 MB 7.7 MB/s eta 0:00:02
     ------                                   2.6/15.5 MB 7.9 MB/s eta 0:00:02
     -------                                  3.1/15.5 MB 8.1 MB/s eta 0:00:02
     ---------                                3.6/15.5 MB 8.5 MB/s eta 0:00:02
     ----------                               4.1/15.5 MB 8.4 MB/s eta 0:00:02
     -----------                              4.6/15.5 MB 8.6 MB/s eta 0:00:02
     ------------                             5.0/15.5 MB 8.6 MB/s eta 0:00:02
     --------------                           5.6/15.5 MB 8.7 MB/s eta 0:00:02
     ---------------                          6.0/15.5 MB 8.7 MB/s eta 0:00:02
     ----------------                         6.4/15.5 MB 8.9 MB/s eta 0:00:02
     ----------------                         6.6/15.5 MB 8.4 MB/s eta 0:00:02
     ------------------                       7.0/15.5 MB 8.4 MB/s eta 0:00:02
     -------------------                      7.6/15.5 MB 8.6 MB/s eta 0:00:01
     -------------------                      7.7/15.5 MB 8.4 MB/s eta 0:00:01
     ---------------------                    8.2/15.5 MB 8.2 MB/s eta 0:00:01
     ----------------------                   8.7/15.5 MB 8.3 MB/s eta 0:00:01
     -----------------------                  9.1/15.5 MB 8.4 MB/s eta 0:00:01
     ------------------------                 9.6/15.5 MB 8.4 MB/s eta 0:00:01
     --------------------------               10.1/15.5 MB 8.5 MB/s eta 0:00:01
     ---------------------------              10.5/15.5 MB 8.3 MB/s eta 0:00:01
     ----------------------------             11.1/15.5 MB 8.5 MB/s eta 0:00:01
     -----------------------------            11.4/15.5 MB 8.7 MB/s eta 0:00:01
     ------------------------------           11.8/15.5 MB 8.7 MB/s eta 0:00:01
     -------------------------------          12.3/15.5 MB 8.7 MB/s eta 0:00:01
     --------------------------------         12.7/15.5 MB 8.6 MB/s eta 0:00:01
     --------------------------------         12.7/15.5 MB 8.6 MB/s eta 0:00:01
     --------------------------------         12.7/15.5 MB 8.6 MB/s eta 0:00:01
     ---------------------------------        13.1/15.5 MB 7.9 MB/s eta 0:00:01
     ----------------------------------       13.5/15.5 MB 7.8 MB/s eta 0:00:01
     -----------------------------------      13.9/15.5 MB 7.7 MB/s eta 0:00:01
     ------------------------------------     14.2/15.5 MB 7.5 MB/s eta 0:00:01
     -------------------------------------    14.5/15.5 MB 7.5 MB/s eta 0:00:01
     --------------------------------------   14.9/15.5 MB 7.5 MB/s eta 0:00:01
     --------------------------------------   15.1/15.5 MB 7.4 MB/s eta 0:00:01
     --------------------------------------   15.1/15.5 MB 7.4 MB/s eta 0:00:01
     --------------------------------------   15.1/15.5 MB 7.4 MB/s eta 0:00:01
     --------------------------------------   15.1/15.5 MB 6.8 MB/s eta 0:00:01
     ---------------------------------------  15.3/15.5 MB 6.6 MB/s eta 0:00:01
     ---------------------------------------  15.5/15.5 MB 6.4 MB/s eta 0:00:01
     ---------------------------------------  15.5/15.5 MB 6.2 MB/s eta 0:00:01
     ---------------------------------------  15.5/15.5 MB 6.2 MB/s eta 0:00:01
     ---------------------------------------- 15.5/15.5 MB 5.6 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.25.2 pandas-2.0.3 pytz-2023.3 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: C:\Users\HP\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [6]:
import pandas as pd
import numpy as np

## Module 1

### Loading the data

In [7]:
ds = pd.read_csv("Hospital_patients_datasets.csv")

In [8]:
ds

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589980e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262960e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679510e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841190e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572130e+12,5651768,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,3.596270e+12,5650093,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,1.557660e+13,5630692,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,9.213490e+13,5630323,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,3.775120e+14,5629448,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0,0,0,0,0,1,No

### Finding Duplicate Values

In [11]:
duplicate_count = ds.duplicated().sum()
print(duplicate_count)

0

### Finding the Null Values

In [13]:
null_count = ds.isnull().sum()
print(null_count)

PatientId         0
AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

### Converting the datatype
#### convert the 'ScheduledDay' and 'AppointmentDay' columns to pandas datetime objects with date-only information, and returns the modified dataset.

In [18]:
ds['ScheduledDay'] = pd.to_datetime(ds['ScheduledDay']).dt.date.astype('datetime64[ns]')
ds['AppointmentDay'] = pd.to_datetime(ds['AppointmentDay']).dt.date.astype('datetime64[ns]')

In [22]:
ds['ScheduledDay'].head

<bound method NDFrame.head of 0        2016-04-29
1        2016-04-29
2        2016-04-29
3        2016-04-29
4        2016-04-29
            ...
110522   2016-05-03
110523   2016-05-03
110524   2016-04-27
110525   2016-04-27
110526   2016-04-27
Name: ScheduledDay, Length: 110527, dtype: datetime64[ns]>

### Renaming the columns
#### renames specific columns ('Hipertension' to 'Hypertension', 'Handcap' to 'Handicap', 'SMS_received' to 'SMSReceived', 'No-show' to 'NoShow'), and returns the modified dataset.

In [23]:
ds = ds.rename(columns = {
    'Hipertension': 'Hypertension',
    'Handcap': 'Handicap',
    'SMS_received': 'SMSReceived',
    'No-show': 'NoShow'
})
ds.head

<bound method NDFrame.head of            PatientId  AppointmentID Gender ScheduledDay AppointmentDay  Age  \
0       2.987250e+13        5642903      F   2016-04-29     2016-04-29   62
1       5.589980e+14        5642503      M   2016-04-29     2016-04-29   56
2       4.262960e+12        5642549      F   2016-04-29     2016-04-29   62
3       8.679510e+11        5642828      F   2016-04-29     2016-04-29    8
4       8.841190e+12        5642494      F   2016-04-29     2016-04-29   56
...              ...            ...    ...          ...            ...  ...
110522  2.572130e+12        5651768      F   2016-05-03     2016-06-07   56
110523  3.596270e+12        5650093      F   2016-05-03     2016-06-07   51
110524  1.557660e+13        5630692      F   2016-04-27     2016-06-07   21
110525  9.213490e+13        5630323      F   2016-04-27     2016-06-07   38
110526  3.775120e+14        5629448      F   2016-04-27     2016-06-07   54

            Neighbourhood  Scholarship  Hypertension  Diabetes  Alcoholism  \
0         JARDIM DA PENHA            0             1         0           0
1         JARDIM DA PENHA            0             0         0           0
2           MATA DA PRAIA            0             0         0           0
3       PONTAL DE CAMBURI            0             0         0           0
4         JARDIM DA PENHA            0             1         1           0
...                   ...          ...           ...       ...         ...
110522        MARIA ORTIZ            0             0         0           0
110523        MARIA ORTIZ            0             0         0           0
110524        MARIA ORTIZ            0             0         0           0
110525        MARIA ORTIZ            0             0         0           0
110526        MARIA ORTIZ            0             0         0           0

        Handicap  SMSReceived NoShow
0              0            0     No
1              0            0     No
2              0            0     No
3              0            0     No
4              0            0     No
...          ...          ...    ...
110522         0            1     No
110523         0            1     No
110524         0            1     No
110525         0            1     No
110526         0            1     No

[110527 rows x 14 columns]>

## Module 2

### 1. Drop the unwanted columns
#### rename the columns of a DataFrame ds, drop the columns 'PatientId', 'AppointmentID', and 'Neighbourhood' from the DataFrame, and return the modified DataFrame with these columns removed.

In [24]:
columns_to_drop = ['PatientId', 'AppointmentID', 'Neighbourhood']
ds = ds.drop(columns=columns_to_drop)

In [25]:
ds.head

<bound method NDFrame.head of        Gender ScheduledDay AppointmentDay  Age  Scholarship  Hypertension  \
0           F   2016-04-29     2016-04-29   62            0             1
1           M   2016-04-29     2016-04-29   56            0             0
2           F   2016-04-29     2016-04-29   62            0             0
3           F   2016-04-29     2016-04-29    8            0             0
4           F   2016-04-29     2016-04-29   56            0             1
...       ...          ...            ...  ...          ...           ...
110522      F   2016-05-03     2016-06-07   56            0             0
110523      F   2016-05-03     2016-06-07   51            0             0
110524      F   2016-04-27     2016-06-07   21            0             0
110525      F   2016-04-27     2016-06-07   38            0             0
110526      F   2016-04-27     2016-06-07   54            0             0

        Diabetes  Alcoholism  Handicap  SMSReceived NoShow
0              0           0         0            0     No
1              0           0         0            0     No
2              0           0         0            0     No
3              0           0         0            0     No
4              1           0         0            0     No
...          ...         ...       ...          ...    ...
110522         0           0         0            1     No
110523         0           0         0            1     No
110524         0           0         0            1     No
110525         0           0         0            1     No
110526         0           0         0            1     No

[110527 rows x 11 columns]>

### 2. Creating New Column
#### First drop the rows where the value in the 'Age' column is equal to 0. And generate age group labels(given) and categorize the 'Age' values into bins with 20-year intervals.
#### Use the pd.cut() function from the pandas library to create an 'Age_group' column in the DataFrame.

In [31]:
def preprocess_data(ds):

    # Drop rows with 'Age' equal to 0
    ds = ds[ds['Age'] != 0].copy()  # Make a copy to avoid the warning

    # Define age group labels and intervals
    age_bins = [0, 20, 40, 60, 80, 100]
    age_labels = ['0-20', '21-40', '41-60', '61-80', '81-100']

    # Create 'Age_group' column using pd.cut() with .loc indexer
    ds.loc[:, 'Age_group'] = pd.cut(ds['Age'], bins=age_bins, labels=age_labels, right=False)

    return ds

modified_ds = preprocess_data(ds)

# Print the modified DataFrame
print(modified_ds)

       Gender ScheduledDay AppointmentDay  Age  Scholarship  Hypertension  \
0           F   2016-04-29     2016-04-29   62            0             1
1           M   2016-04-29     2016-04-29   56            0             0
2           F   2016-04-29     2016-04-29   62            0             0
3           F   2016-04-29     2016-04-29    8            0             0
4           F   2016-04-29     2016-04-29   56            0             1
...       ...          ...            ...  ...          ...           ...
110522      F   2016-05-03     2016-06-07   56            0             0
110523      F   2016-05-03     2016-06-07   51            0             0
110524      F   2016-04-27     2016-06-07   21            0             0
110525      F   2016-04-27     2016-06-07   38            0             0
110526      F   2016-04-27     2016-06-07   54            0             0

        Diabetes  Alcoholism  Handicap  SMSReceived NoShow Age_group
0              0           0         0            0     No     61-80
1              0           0         0            0     No     41-60
2              0           0         0            0     No     61-80
3              0           0         0            0     No      0-20
4              1           0         0            0     No     41-60
...          ...         ...       ...          ...    ...       ...
110522         0           0         0            1     No     41-60
110523         0           0         0            1     No     41-60
110524         0           0         0            1     No     21-40
110525         0           0         0            1     No     21-40
110526         0           0         0            1     No     41-60

[106988 rows x 12 columns]

### 3. Droping the Age column

In [33]:
modified_ds = modified_ds.drop(columns='Age')
print(modified_ds)

       Gender ScheduledDay AppointmentDay  Scholarship  Hypertension  \
0           F   2016-04-29     2016-04-29            0             1
1           M   2016-04-29     2016-04-29            0             0
2           F   2016-04-29     2016-04-29            0             0
3           F   2016-04-29     2016-04-29            0             0
4           F   2016-04-29     2016-04-29            0             1
...       ...          ...            ...          ...           ...
110522      F   2016-05-03     2016-06-07            0             0
110523      F   2016-05-03     2016-06-07            0             0
110524      F   2016-04-27     2016-06-07            0             0
110525      F   2016-04-27     2016-06-07            0             0
110526      F   2016-04-27     2016-06-07            0             0

        Diabetes  Alcoholism  Handicap  SMSReceived NoShow Age_group
0              0           0         0            0     No     61-80
1              0           0         0            0     No     41-60
2              0           0         0            0     No     61-80
3              0           0         0            0     No      0-20
4              1           0         0            0     No     41-60
...          ...         ...       ...          ...    ...       ...
110522         0           0         0            1     No     41-60
110523         0           0         0            1     No     41-60
110524         0           0         0            1     No     21-40
110525         0           0         0            1     No     21-40
110526         0           0         0            1     No     41-60

[106988 rows x 11 columns]

### 4. Convert the Noshow
#### converting the Noshow column into a binary format, representing appointment attendance, and returning the mofified dataframe

In [41]:
unique_values = modified_ds['NoShow'].unique
print(unique_values)

<bound method Series.unique of 0         No
1         No
2         No
3         No
4         No
          ..
110522    No
110523    No
110524    No
110525    No
110526    No
Name: NoShow, Length: 106988, dtype: object>

In [42]:
modified_ds['NoShow'] = modified_ds['NoShow'].map({'No': 0, 'Yes': 1})
print(modified_ds)

       Gender ScheduledDay AppointmentDay  Scholarship  Hypertension  \
0           F   2016-04-29     2016-04-29            0             1
1           M   2016-04-29     2016-04-29            0             0
2           F   2016-04-29     2016-04-29            0             0
3           F   2016-04-29     2016-04-29            0             0
4           F   2016-04-29     2016-04-29            0             1
...       ...          ...            ...          ...           ...
110522      F   2016-05-03     2016-06-07            0             0
110523      F   2016-05-03     2016-06-07            0             0
110524      F   2016-04-27     2016-06-07            0             0
110525      F   2016-04-27     2016-06-07            0             0
110526      F   2016-04-27     2016-06-07            0             0

        Diabetes  Alcoholism  Handicap  SMSReceived  NoShow Age_group
0              0           0         0            0       0     61-80
1              0           0         0            0       0     41-60
2              0           0         0            0       0     61-80
3              0           0         0            0       0      0-20
4              1           0         0            0       0     41-60
...          ...         ...       ...          ...     ...       ...
110522         0           0         0            1       0     41-60
110523         0           0         0            1       0     41-60
110524         0           0         0            1       0     21-40
110525         0           0         0            1       0     21-40
110526         0           0         0            1       0     41-60

[106988 rows x 11 columns]

### 5. Exporting the cleaned dataset

In [43]:
modified_ds.to_csv('patients.csv', index=False)